@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    text-transform: none;
    line-height: 28px;
    letter-spacing: 0;
    color: #161616;
}


.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}
.space-btw-sections {
    margin: 90px auto;
}

:root {
    /* CSS HEX */
    --orange-web: #faa916ff;
    --white: #fbfffeff;
    --white-two: #f7f7f7;
    --dim-gray: #6d676eff;
    --eerie-black: #41444B;
    --carmine: #96031aff;
}

/*---------------- HEADER ----------------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.down{
    background: #fff;
    padding: 15px 20px;
}
header .logo{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

header.down .logo,
header.down ul li a{
	color: #000;
}


/*--------- SIDEBAR ---------*/

.grid-aside-container {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
}

.grid-aside-container .grid-aside-content {
    grid-column: span 2;
}

.grid-aside-container > div,
.grid-aside-container .grid-aside-content,
.grid-aside-container .sidebar {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}


.grid-aside-container .sidebar {
	grid-column: 3 / 4;
    border: 2px solid #e2e2e2;
	min-height: 100px;
}

.sidebar-horizontal-card {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #e2e2e2;
}
.sidebar-horizontal-card:last-child {
    width: 100%;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}
.sidebar-horizontal-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.sidebar-recent-uploads .sidebar-recent-uploads-text {
    
}


/*----------- BLOG-HERO ---------*/

.blog-hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/tip-one.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*----------- HERO ----------*/

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: var(--white);
    line-height: 50px;
}

.hero-content h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 70px;
    font-weight: bold;
}

.header-content h3 {
    font-size: 20px;
    font-weight: 100;
}

/*----------- COUNTRIES SECTION _ HOME PAGE -----------*/


.countries {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "contr-one contr-two contr-three contr-four"
        "contr-one contr-two contr-three contr-four"
    ;
}

.contr-one{
    grid-area: contr-one;
}
.contr-two {
    grid-area: contr-two;
}
.contr-three {
    grid-area: contr-three;
}
.contr-four {
    grid-area: contr-four;
}



.countries a {
    text-decoration: none;
    color: var(--white);
}


.countries .country-card {
    position: relative;
}
.country-card:hover {
    filter: brightness(80%);
}

.countries .country-card a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(50%);
}

.countries .country-card a h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}



/*----------- LASTEST POST _HOME PAGE -----------*/

.lastest-post .lastest-post-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px;
}


.lastest-post .post-card-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lastest-post .post-card-large img {
    width: 700px;
    object-fit: cover;
}

.lastest-post .post-card-large .post-text {
    margin: 30px 0px 30px 30px;
}
.lastest-post .post-card-large .post-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.lastest-post .post-card-large .post-text p {
    margin-bottom: 20px;
}
.lastest-post .post-card-large .post-text a{
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--eerie-black);
    color: var(--white);
    border: 1px #161616 solid;
    border-radius: 5px;

    transition: .1s ease-in;
}
.lastest-post .post-card-large .post-text a:hover{
    text-decoration: none;
    color: var(--orange-web);
    background-color: var(--white);
}

/*------------- TIPS _ HOME -------------*/

.six-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "tip-one tip-two tip-three"
        "tip-four tip-five tip-six"
    ;
}

.first-six-card {
    grid-area: tip-one;
}
.second-six-card {
    grid-area: tip-two;

}
.third-six-card {
    grid-area: tip-three;

}
.fourth-six-card {
    grid-area: tip-four;

}
.fifth-six-card {
    grid-area: tip-five;

}
.sixth-six-card {
    grid-area: tip-six;
}

.six-cards-grid .six-card {
    position: relative;
}
.six-cards-grid .six-card:hover {
    filter: brightness(80%);
}

.six-cards-grid .six-card a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(50%);
}

.six-cards-grid .six-card a h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: var(--white);
}

.tips h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px;
}











/*--------- FOOTER --------*/

footer {
    background-color: #111;
}

footer .footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
footer .footer-container .social-icons {
    display: flex;
    justify-content: center;
}
footer .footer-container .social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--white);
    margin: 10px;
    border-radius: 50%;
    
    transition: 0.5s;
}
footer .footer-container .social-icons a i{
    font-size: 2em;
    color: #000000;
    opacity: 0.9;
}

/* Hover effects on social media icons*/

footer .footer-container .social-icons a:hover {
    background-color: #111;
}

footer .footer-container .social-icons a:hover i {
    color: var(--white);
    transition: 0.5s;
}

footer .footer-container .footer-nav {
    margin: 30px 0;
}

footer .footer-container .footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
footer .footer-container .footer-nav ul li a {
    color: var(--white);
    margin: 20px;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;
}
footer .footer-container .footer-nav ul li a:hover {
    opacity: 1;
}

footer .footer-bottom {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}
footer .footer-bottom p {
    color: var(--white);
}
footer .footer-bottom span.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



@media screen and (max-width: 700px) {
    footer .footer-container .footer-nav ul {
        flex-direction: column;
    }
    footer .footer-container .footer-nav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}