@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    text-transform: none;
    line-height: 28px;
    letter-spacing: 0;
    color: #161616;
}


.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}
.space-btw-sections {
    margin: 90px auto;
}

:root {
    /* CSS HEX */
    --orange-web: #faa916ff;
    --white: #fbfffeff;
    --white-two: #f7f7f7;
    --dim-gray: #6d676eff;
    --eerie-black: #41444B;
    --carmine: #96031aff;
}

/*---------------- HEADER ----------------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.down{
    background: #fff;
    padding: 15px 20px;
}
header .logo{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

header.down .logo,
header.down ul li a{
	color: #000;
}


/*--------- SIDEBAR ---------*/

.twntypx-margin-top {
    margin-top: 20px;
}



.grid-aside-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;
    grid-template-areas: 
        "main main aside"
        "main main aside"
        "main main aside"
    ;
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 1100px) {
    .grid-aside-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "main main"
            "main main"
            "main main"
            "aside aside"
        ;
        gap: 20px;
        padding: 20px;
    }
}

.grid-aside-container .grid-aside-content{
    grid-area: main;
    background-color: #f7f7f7;

    border-radius: 5px;
    padding: 20px;
}
.grid-aside-container .grid-aside-content ol {
    margin-left: 30px;
}
.grid-aside-container .grid-aside-content .bg-text {
    opacity: 0.7;
}

.grid-aside-container .sidebar{
    grid-area: aside;
    height: fit-content;
    padding: 20px;

    border: 2px #c7c7c7 solid;
    border-radius: 5px;
    background-color: #fff;
}

.grid-aside-container .sidebar .sidebar-recent-uploads .sidebar-card {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding: 0px 0px 10px 0px;

    border-bottom: 2px #c7c7c7 solid;

    color: #000000;
    text-decoration: none;
}
.grid-aside-container .sidebar .sidebar-recent-uploads .sidebar-card:hover {
    color: var(--orange-web);
}
.grid-aside-container .sidebar .sidebar-recent-uploads .sidebar-card:last-child {
    border-bottom: none;
    padding: 0px;
}
.grid-aside-container .sidebar .sidebar-recent-uploads .sidebar-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(70%);
}
.grid-aside-container .sidebar .sidebar-recent-uploads .sidebar-card .sidebar-card-text {
    margin-left: 10px;
}

/*---------- INPUTS COUNTRIES-DROPDOWN STYLING -----------*/

.countries-dropdown select {
    padding: 5px 15px;
    font-size: 15px;
}




/*----------- BLOG-HERO ---------*/

.blog-hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/blog-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*----------- PRIVACY-HERO ---------*/

.privacy-hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/tip-one.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*----------- ABOUT-HERO ---------*/

.about-hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-hero-section, .blog-hero-section,
.privacy-hero-section .hero-content h1{
    color: var(--white);
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
}
.privacy-hero-section .hero-content h3 {
    color: var(--white);
}

/*----------- HERO ----------*/

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-content {
    color: var(--white);
    line-height: 50px;
}

.hero-section .hero-content h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
}

/*----------- COUNTRIES SECTION _ HOME PAGE -----------*/


main .countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "contr-one contr-two contr-three contr-four"
        "contr-one contr-two contr-three contr-four"
    ;
}

main .countries .contr-one{
    grid-area: contr-one;
}
main .countries .contr-two {
    grid-area: contr-two;
}
main .countries .contr-three {
    grid-area: contr-three;
}
main .countries .contr-four {
    grid-area: contr-four;
}

@media screen and (max-width: 1280px) {
    main .countries {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "contr-one contr-two"
            "contr-three contr-four"
        ;
    }
}
@media screen and (max-width: 720px) {
    main .countries {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "contr-one"
            "contr-two"
            "contr-three"
            "contr-four"
        ;
    }
}




main .countries .country-card a {
    text-decoration: none;
    color: var(--white);
}
main .countries .country-card {
    position: relative;
}
main .countries .country-card:hover {
    filter: brightness(80%);
}

main .countries .country-card a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

main .countries .country-card a h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}



/*----------- LASTEST POST _HOME PAGE -----------*/

main .lastest-post .lastest-post-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px;
}


main .lastest-post .post-card-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .lastest-post .post-card-large img {
    width: 700px;
    object-fit: cover;
}

main .lastest-post .post-card-large .post-text {
    margin: 30px 0px 30px 30px;
}
main .lastest-post .post-card-large .post-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
main .lastest-post .post-card-large .post-text p {
    margin-bottom: 20px;
}
main .lastest-post .post-card-large .post-text .rdm-btn{
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--eerie-black);
    color: var(--white);
    border: 1px #161616 solid;
    border-radius: 5px;

    transition: .1s ease-in;
}
main .lastest-post .post-card-large .post-text .rdm-btn:hover{
    text-decoration: none;
    color: var(--orange-web);
    background-color: var(--white);
}

/*------------- TIPS _ HOME -------------*/

main .tips h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px;
}

main .tips .six-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "tip-one tip-two tip-three"
        "tip-four tip-five tip-six"
    ;
}

main .tips .six-cards-grid .first-six-card {
    grid-area: tip-one;
}
main .tips .six-cards-grid .second-six-card {
    grid-area: tip-two;

}
main .tips .six-cards-grid .third-six-card {
    grid-area: tip-three;

}
main .tips .six-cards-grid .fourth-six-card {
    grid-area: tip-four;

}
main .tips .six-cards-grid .fifth-six-card {
    grid-area: tip-five;

}
main .tips .six-cards-grid .sixth-six-card {
    grid-area: tip-six;
}

main .tips .six-cards-grid .six-card {
    position: relative;
}
main .tips .six-cards-grid .six-card:hover {
    filter: brightness(80%);
}

main .tips .six-cards-grid .six-card a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(50%);
}

main .tips .six-cards-grid .six-card a h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: var(--white);
}

/*-------- BLOG-PAGE -------*/

.blog-articles article .inside-article .post-image a img {
    width: 100%;
}
.blog-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-articles article {
    width: calc(33.33% - 20px); /* 20px de espacio entre los elementos */
    margin-bottom: 20px;
    box-sizing: border-box;
}
.blog-articles article:first-child {
    width: calc(66.66% - 20px); /* Ancho mayor para el primer artículo */
}

/* Ajustes para pantallas más pequeñas */
@media screen and (max-width: 700px) {
    .blog-articles article {
        width: calc(50% - 20px);
    }
    .blog-articles article:first-child {
        width: calc(100% - 20px);
    }
}

/* Ajustes para pantallas aún más pequeñas */
@media screen and (max-width: 500px) {
    .blog-articles article {
        width: 100%;
    }
    .blog-articles article:first-child {
        width: 100%;
    }
}

.blog-articles article .inside-article .entry-header{
    
}
.blog-articles article .inside-article .entry-header .entry-meta{
    margin-top: .5em;
}
.blog-articles article .inside-article .entry-header .entry-meta .posted-on{
    color: #595959;
}
.blog-articles article .inside-article .entry-header .entry-title a{
    text-decoration: none;
    color: #000;

    transition: .1s ease-in;
}
.blog-articles article .inside-article .entry-header .entry-title a:hover{
    color: var(--orange-web);
}

.blog-articles article .inside-article .entry-summary{
    margin-top: .5em;
}
.blog-articles article .inside-article .entry-summary p a{
    text-decoration: none;
    color: var(--orange-web);

    transition: .1s ease-in;
}
.blog-articles article .inside-article .entry-summary p a:hover{
    color: #000;
}



/***/

.post-page-title {
    text-align: center;
}
.post-page-title h2 {
    margin-top: .5em;
    font-size: 2.5em;
}
.post-page-img {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3em 0;
}




/*--------- FOOTER --------*/

footer {
    background-color: #111;
}

footer .footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
footer .footer-container .social-icons {
    display: flex;
    justify-content: center;
}
footer .footer-container .social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--white);
    margin: 10px;
    border-radius: 50%;
    
    transition: 0.5s;
}
footer .footer-container .social-icons a i{
    font-size: 2em;
    color: #000000;
    opacity: 0.9;
}

/* Hover effects on social media icons*/

footer .footer-container .social-icons a:hover {
    background-color: #111;
}

footer .footer-container .social-icons a:hover i {
    color: var(--white);
    transition: 0.5s;
}

footer .footer-container .footer-nav {
    margin: 30px 0;
}

footer .footer-container .footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
footer .footer-container .footer-nav ul li a {
    color: var(--white);
    margin: 20px;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;
}
footer .footer-container .footer-nav ul li a:hover {
    opacity: 1;
}

footer .footer-bottom {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}
footer .footer-bottom p {
    color: var(--white);
}
footer .footer-bottom span.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}




@media screen and (max-width: 700px) {
    footer .footer-container .footer-nav ul {
        flex-direction: column;
    }
    footer .footer-container .footer-nav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}