@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    text-transform: none;
    line-height: 28px;
    letter-spacing: 0;
    color: #161616;
}


.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}
.space-btw-sections {
    margin: 90px auto;
}

:root {
    /* CSS HEX */
    --orange-web: #faa916ff;
    --white: #fbfffeff;
    --white-two: #f7f7f7;
    --dim-gray: #6d676eff;
    --eerie-black: #41444B;
    --carmine: #96031aff;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}
/*---------------- HEADER ----------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}

header.down {
    background: #fff;
    padding: 15px 20px;
}

header .logo {
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

header.down .logo,
header.down .menu-icon i,
header.down ul li a {
    color: #000;
}


.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
}

/*--------- SIDEBAR ---------*/

/*---------- INPUTS COUNTRIES-DROPDOWN STYLING -----------*/

.countries-dropdown select {
    padding: 5px 15px;
    font-size: 15px;
}

/*----------- BLOG-HERO ---------*/

.blog-hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/blog-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*----------- PRIVACY-HERO ---------*/

.privacy-hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/tip-one.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*----------- ABOUT-HERO ---------*/

.about-hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-hero-section,
.blog-hero-section,
.privacy-hero-section .hero-content h1 {
    color: var(--white);
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
}

.privacy-hero-section .hero-content h3 {
    color: var(--white);
}

/*----------- HERO ----------*/

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-content {
    color: var(--white);
    line-height: 50px;
}

.hero-section .hero-content h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
}


/*----------- COUNTRIES SECTION _ HOME PAGE -----------*/
.sections-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.section-btn img {
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
    transition: 0.3s ease-out;
}

.section-btn:hover img {
    filter: brightness(80%);
    transform: scale(1.2);
}

.section-btn span {
    color: var(--white);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-out;
}

.section-btn:hover span {
    transform: translate(-50%, -50%) rotate(-370deg) scale(1.5);
}

/*-------- BEST POST _ HOME PAGE --------*/
.title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.best-post-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.best-post-container .post-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
}

.best-post-container .post-content img {
    object-fit: cover;
    border-radius: 5px;
}

.best-post-container .post-content .best-post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 20px;
}

.best-post-container .post-content .best-post-content button {
    background-color: var(--eerie-black);
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    width: 25%;
    height: 50px;
    transition: .2s ease;
}

.best-post-container .post-content .best-post-content button:hover {
    background-color: transparent;
    color: var(--orange-web);
    border: 1px solid var(--orange-web);
}

/*-------- TESTIMONIAL CARDS _ HOME PAGE --------*/
.testimonial-cards-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.testimonial-card {
    width: 20%;
    margin: 50px 0;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
}
.testimonial-card .info-testimonial,
.testimonial-card .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonial-card .info-testimonial img {
    width: 50px;
    height: 50px;
}

.testimonial-card .info-testimonial p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #4b4b4b;
}

.testimonial-card .profile {
    margin-top: 30px;
}

.testimonial-card .profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.testimonial-card .profile h4,
.testimonial-card .profile p {
    margin: 0;
}

.testimonial-card .profile h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    color: #131313;
}

.testimonial-card .profile p {
    font-size: 16px;
    margin-top: 5px;
    color: #525252;
}
/*-------- GALLERY ---------*/
.gallery-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.gallery-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(60%);
}


/*-------- BLOG-PAGE -------*/

.blog-articles article .inside-article .post-image button img {
    width: 100%;
}

.blog-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog-articles article {
    margin-bottom: 20px;
    box-sizing: border-box;
}
.blog-articles article:first-child{
    grid-column: span 2;
}
.blog-articles article .inside-article .entry-header .entry-meta {
    margin-top: .5em;
}

.blog-articles article .inside-article .entry-header .entry-meta .posted-on {
    color: #595959;
}

.blog-articles article .inside-article .entry-header .entry-title-container {
    text-align: left;
}

.blog-articles article .inside-article .entry-header button .entry-title {
    text-decoration: none;
    color: #000;
    font-size: 24px;

    transition: .1s ease-in;
}

.blog-articles article .inside-article .entry-header button .entry-title:hover {
    color: var(--orange-web);
}

.blog-articles article .inside-article .entry-summary {
    margin-top: .5em;
}

.blog-articles article .inside-article .entry-summary button {
    font-size: 15px;
    text-decoration: none;
    color: var(--orange-web);

    transition: .1s ease-in;
}

.blog-articles article .inside-article .entry-summary button:hover {
    color: var(--eerie-black);
}

/***** SIDEBAR ***/
.grid-aside-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: unset;
}
.grid-aside-content{
    padding: 20px;
    background-color: #faf7f7;
}
.sidebar {
    height: fit-content;
    position: sticky;
    top: 65px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 2px solid #c7c7c7;
    border-radius: 5px;
}
.sidebar-card{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
}
.sidebar-recent-uploads .sidebar-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-recent-uploads .sidebar-cards-container button{
    transition: .2s ease;
}
.sidebar-recent-uploads .sidebar-cards-container button:hover {
    color: var(--orange-web);
}
.sidebar-recent-uploads .sidebar-cards-container button img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

/*******/

.post-page-title {
    text-align: center;
}

.post-page-title h2 {
    margin-top: .5em;
}

.post-page-img {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3em 0;
}

.post-page-img img {
    overflow: hidden;
}




/*--------- FOOTER --------*/

footer {
    background-color: #111;
}

footer .footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}

footer .footer-container .social-icons {
    display: flex;
    justify-content: center;
}

footer .footer-container .social-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: var(--white);
    margin: 10px;
    border-radius: 50%;

    transition: 0.5s;
}

footer .footer-container .social-icons a i {
    font-size: 2em;
    color: #000000;
    opacity: 0.9;
}

/* Hover effects on social media icons*/

footer .footer-container .social-icons a:hover {
    background-color: #111;
}

footer .footer-container .social-icons a:hover i {
    color: var(--white);
    transition: 0.5s;
}

footer .footer-container .footer-nav {
    margin: 30px 0;
}

footer .footer-container .footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer .footer-container .footer-nav ul li a {
    color: var(--white);
    margin: 20px;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;
}

footer .footer-container .footer-nav ul li a:hover {
    opacity: 1;
}

footer .footer-bottom {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

footer .footer-bottom p {
    color: var(--white);
}

footer .footer-bottom span.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}







/* MEDIA QUERYS */


@media only screen and (max-width: 768px) {
    header nav {
        display: none;

    }

    header nav.show {
        display: contents;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: absolute;
        background-color: #dddddd85;
        top: 60px;
        left: 0;
        z-index: 10;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }
}

@media screen and (max-width:600px) {
    .hero-section .hero-content h1 {
        font-size: 35px;
    }
}


@media screen and (max-width:1200px) {
    main .lastest-post .post-card-large {
        flex-direction: column;
    }

    main .lastest-post .post-card-large img {
        width: 400px;
    }

    main .lastest-post .post-card-large .post-text {
        margin: 30px;
        max-width: 600px;
    }

    main .lastest-post .post-card-large .post-text h2 {
        font-size: 30px;
    }

    main .lastest-post .post-card-large .post-text p {
        margin-bottom: 20px;
    }

    main .lastest-post .post-card-large .post-text .rdm-btn {
        font-size: 15px;
    }
}

@media screen and (max-width:485px) {

    main .lastest-post .post-card-large img {
        width: 250px;
    }
}



@media screen and (max-width: 1100px) {
    .grid-aside-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "main main"
            "main main"
            "main main"
            "aside aside"
        ;
        gap: 20px;
        padding: 20px;
    }
}




@media screen and (max-width: 1280px) {
    main .countries {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "contr-one contr-two"
            "contr-three contr-four"
        ;
    }
}

@media screen and (max-width: 720px) {
    main .countries {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "contr-one"
            "contr-two"
            "contr-three"
            "contr-four"
        ;
    }
}





/* Ajustes para pantallas más pequeñas */
@media screen and (max-width: 700px) {
    .blog-articles article {
        width: calc(50% - 20px);
    }

    .blog-articles article:first-child {
        width: calc(100% - 20px);
    }
}

/* Ajustes para pantallas aún más pequeñas */
@media screen and (max-width: 500px) {
    .blog-articles article {
        width: 100%;
    }

    .blog-articles article:first-child {
        width: 100%;
    }
}


@media screen and (max-width:830px) {
    .post-page-img img {
        width: 400px;
    }
}

@media screen and (max-width:680px) {
    main .tips .six-cards-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "tip-one tip-two"
            "tip-three tip-four"
            "tip-five tip-six"
        ;
    }

    main .tips .six-cards-grid .six-card h3 {
        font-size: 25px;
    }
}

@media screen and (max-width:450px) {
    main .tips .six-cards-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "tip-one"
            "tip-two"
            "tip-three"
            "tip-four"
            "tip-five"
            "tip-six"
        ;
    }
}


@media screen and (max-width: 700px) {
    footer .footer-container .footer-nav ul {
        flex-direction: column;
    }

    footer .footer-container .footer-nav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}