/* MEDIA QUERYS */
@media only screen and (max-width: 768px) {
	header {
		nav {
			display: none;
		}
		.nav-active {
			ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 20px;
				z-index: 10;
			}
		}
	}
	.menu-icon {
		display: block;
	}
	.btn-cerrar {
		display: block;
	}
}
@media screen and (max-width:600px) {
	.hero-section {
		.hero-content {
			h1 {
				font-size: 35px;
			}
		}
	}
}
@media screen and (max-width: 1100px) {
	.grid-aside-container {
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 700px) {
	.sections-container {
		grid-template-columns: repeat(2, 1fr);
	}
	footer {
		.footer-container {
			.footer-nav {
				ul {
					flex-direction: column;
					li {
						width: 100%;
						text-align: center;
						margin: 10px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1453px) {
	.best-post-container {
		.post-content {
			img {
				width: 500px;
			}
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			.best-post-content {
				width: 70%;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				justify-content: center;
				gap: 10px;
			}
		}
	}
}
@media screen and (max-width: 610px) {
	.best-post-container {
		.post-content {
			img {
				width: 300px;
			}
		}
	}
}
@media screen and (max-width: 415px) {
	.best-post-container {
		.post-content {
			.best-post-content {
				h2 {
					font-size: 20px;
				}
				p {
					font-size: 16px;
				}
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	.testimonial-cards-container {
		flex-direction: column;
	}
	.testimonial-card {
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.testimonial-card {
		width: 80%;
	}
	.gallery-content {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 650px) {
	.blog-articles {
		article {
			.inside-article {
				.entry-header {
					.entry-title-container {
						h2 {
							font-size: 18px;
						}
					}
				}
				.entry-summary {
					p {
						font-size: 14px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 750px) {
	.blog-articles {
		article {
			&:first-child {
				grid-column: span 3;
			}
			grid-column: span 3;
		}
	}
}
@media screen and (max-width: 726px) {
	.post-page-img {
		width: 300px;
	}
}
