/*---------------- HEADER ----------------*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	transition: 0.7s;
	padding: 30px 20px;
	z-index: 10;
	.logo {
		position: relative;
		color: var(--white);
		font-weight: bold;
		font-size: 2em;
		letter-spacing: 2px;
		transition: 1.5s;
		text-decoration: none;
	}
	ul {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			list-style: none;
			a {
				position: relative;
				margin: 0 15px;
				text-decoration: none;
				color: var(--white);
				letter-spacing: 2px;
				font-weight: 600;
				transition: 0.7s;
			}
		}
	}
}
header.down {
	background: var(--white);
	padding: 15px 20px;
	.logo {
		color: var(--black);
	}
	.menu-icon {
		i {
			color: var(--black);
		}
	}
	ul {
		li {
			a {
				color: var(--black);
			}
		}
	}
}
nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
nav.nav-active {
	display: block;
	width: 45%;
	position: fixed;
	background-color: #0c0c0c;
	top: 0;
	right: 0;
	bottom: 0;
}
.menu-icon {
	display: none;
	cursor: pointer;
	font-size: 1.5em;
	color: var(--white);
}
.btn-cerrar {
	display: none;
	cursor: pointer;
	font-size: 1.5em;
	color: var(--white);
}
.btn-cerrar-container {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 20px;
}
