// /* Estructura del main en el index */



/*----------- LASTEST POST _HOME PAGE -----------*/
/*------------- TIPS _ HOME -------------*/
/*-------- BLOG-PAGE -------*/
/*******/



main {
	.countries {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: "contr-one contr-two contr-three contr-four" "contr-one contr-two contr-three contr-four";
		.contr-one {
			grid-area: contr-one;
		}
		.contr-two {
			grid-area: contr-two;
		}
		.contr-three {
			grid-area: contr-three;
		}
		.contr-four {
			grid-area: contr-four;
		}
		.country-card {
			a {
				text-decoration: none;
				color: $white;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					overflow: hidden;
					filter: brightness(50%);
				}
				h2 {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 50px;
				}
			}
			position: relative;
			&:hover {
				filter: brightness(80%);
			}
		}
	}
	.lastest-post {
		.lastest-post-title {
			text-align: center;
			font-size: 35px;
			margin-bottom: 35px;
		}
		.post-card-large {
			display: flex;
			justify-content: space-between;
			align-items: center;
			img {
				width: 650px;
				object-fit: cover;
				overflow: hidden;
			}
			.post-text {
				margin: 30px 0px 30px 30px;
				h2 {
					font-size: 40px;
					margin-bottom: 20px;
				}
				p {
					margin-bottom: 20px;
				}
				.rdm-btn {
					padding: 10px 20px;
					text-decoration: none;
					background-color: $eerie-black;
					color: $white;
					border: 1px $sort-of-black solid;
					border-radius: 5px;
					transition: .1s ease-in;
					&:hover {
						text-decoration: none;
						color: $orange-web;
						background-color: $white;
					}
				}
			}
		}
	}
	.tips {
		h2 {
			text-align: center;
			font-size: 35px;
			margin-bottom: 35px;
		}
		.six-cards-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas: "tip-one tip-two tip-three" "tip-four tip-five tip-six";
			.first-six-card {
				grid-area: tip-one;
			}
			.second-six-card {
				grid-area: tip-two;
			}
			.third-six-card {
				grid-area: tip-three;
			}
			.fourth-six-card {
				grid-area: tip-four;
			}
			.fifth-six-card {
				grid-area: tip-five;
			}
			.sixth-six-card {
				grid-area: tip-six;
			}
			.six-card {
				position: relative;
				&:hover {
					img {
						filter: brightness(40%);
					}
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					overflow: hidden;
					filter: brightness(50%);
				}
				h3 {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 30px;
					color: $white;
				}
			}
		}
	}
}
.blog-articles {
	article {
		.inside-article {
			.post-image {
				a {
					img {
						width: 100%;
					}
				}
			}
			.entry-header {
				.entry-meta {
					margin-top: .5em;
					.posted-on {
						color: #595959;
					}
				}
				.entry-title {
					a {
						text-decoration: none;
						color: $black;
						transition: .1s ease-in;
						&:hover {
							color: $orange-web;
						}
					}
				}
			}
			.entry-summary {
				margin-top: .5em;
				p {
					a {
						text-decoration: none;
						color: $orange-web;
						transition: .1s ease-in;
						&:hover {
							color: $black;
						}
					}
				}
			}
		}
		width: calc(33.33% - 20px);
		margin-bottom: 20px;
		box-sizing: border-box;
		&:first-child {
			width: calc(66.66% - 20px);
		}
	}
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.post-page-title {
	text-align: center;
	h2 {
		margin-top: .5em;
	}
}
.post-page-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3em 0;
	img {
		overflow: hidden;
	}
}

// Heros de otras páginas

.about-hero-section, .blog-hero-section, .privacy-hero-section .hero-content h1 {
    color: $white;
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
}

.privacy-hero-section {
	.hero-content {
		h3 {
			color: $white;
		}
	}
}

.blog-hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/blog-hero.jpg");
    @extend %banners-configs;
}

.privacy-hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/tip-one.jpg");
    @extend %banners-configs;
}

.about-hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../imgs/hero.jpg");
    @extend %banners-configs;
}


.hero-section {
	@extend %hero-section;
	.hero-content {
		color: $white;
		line-height: 50px;
		h1 {
			font-family: 'Franklin Gothic Medium';
			font-size: 50px;
		}
	}
}